/*font-family: "Roboto", sans-serif;*/
/*font-family: "Raleway", sans-serif;*/
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*li {
        margin: 0;
            padding: 0;
}*/
a {
    text-decoration: none;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
/*<--region zagolovok -->*/
.page-header {
border-bottom: 1px solid #e7e9fc;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.site-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
.header-nav {
     display: flex;
     align-items: center;
}
.header-logo {
    margin-right: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item {
}
.header-logo .logo-part {
    color: #2E2F42;

}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0 24px
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal
}
.contacts-list {
    display: flex;
    gap: 40px;
    padding: 24px 0 24px
}
.contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
/*<-- #end region zagolovok -->*/
/*<--#Header-->*/
.hero-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 496px;
        margin-left: auto;
        margin-right: auto;
}

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/*<--#end-Header-->*/

/*<--#1-section-->*/
.first-section {
    padding: 120px 0 120px
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .list-hiden {
     display: flex;
     gap: 24px;
 }
 .feature-item {
    width: calc((100% - 72px) / 4);
}
.future-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.future-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*<--#end-1-section-->*/

/*<--#end-2-section-->*/
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0 120px
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list-our-team {
    display: flex;
    gap: 24px;
}
.team-card {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-details-wrap {
    padding: 32px 0 32px
}
.future-title-text {
    text-align: center;
    margin-bottom: 8px
}
.future-text-title {
    text-align: center
}

/*<--#end-2-section-->*/
/*--# 3-section--*/
.our-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: calc((100% - 48px) / 3);
}
.portfolio-details-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.future-title-wrap {
    margin-bottom: 8px
}

/*3-endsection*/
/*footer*/
.footer-page {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    margin-left: 156px;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-left: 156px;
}
.logo {
    display: inline-block;
}
/*end-footer*/
